<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630089514479-e46bgv90hb2cbivn1mnvnh0fhae6jdc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630089514479-e46bgv90hb2cbivn1mnvnh0fhae6jdc7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630089514479-84vgoi05l3o356p6ue83kafa8ui9oiro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdtY_XxCqMV5pn1ezwZHW0Gqs2kjFkXl0</string>
	<key>GCM_SENDER_ID</key>
	<string>630089514479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dairyApp</string>
	<key>PROJECT_ID</key>
	<string>my-dairy-ba5e5</string>
	<key>STORAGE_BUCKET</key>
	<string>my-dairy-ba5e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630089514479:ios:3da6612288084cbe3f0a1a</string>
</dict>
</plist>